<% set_meta_tags(
  title: "Главная",
  keywords: "Подкасты, Рецензии, Информация"
) %>
<div class="O_BodyMainPage">
    <div class="W_AccentCover first">
        <h1 class="stroke">Ищи и оставляй отзывы о своих любимых подкастах</h1>
        <%= link_to (user_signed_in? ? new_post_path : new_user_session_path) do %>
        <div class="A_Button Primary">
            <h2>Оставить рецензию</h2>
            <div class="Q_Arrow top_right"></div>
        </div>
        <% end %>
    </div>
    <div class="W_CardBlock">
        <h2>Сегодня в топе эти авторы: </h2>
        <div class="C_AuthorsCards">
            <% @profile_top.each do |profile| %>
            <%= render partial: "authorcard", locals: { profile: profile } %>
            <% end %>
        </div>
    </div>
    <div class="W_AccentCover ama">
        <h1 class="stroke">Ask me anything сессия с «<%= @ama_podcast.name %>» </h1>
        <div class="A_Button Primary">
            <h2>поучавствовать в сессии</h2>
        </div>
    </div>
    <div class="W_CardBlock">
        <div class="W_ListBlock_Title">
            <h2>Если хочешь от души посмеяться </h2>
            <%= link_to theme_path(2) do %>
            <h4>посмотреть все</h4>
            <% end %>
        </div>
        <div class="C_PodcastCards">
            <% @podcasts_cards.each do |podcast| %>
            <%= render partial: "podcastcard", locals: { podcast: podcast } %>
            <% end %>
        </div>
    </div>
    <div class="W_CardBlock">
        <div class="W_ListBlock_Title">
            <h2>Свежие выпуск подкаста <%= @new_podcast.name %></h2>
            <%= link_to podcast_path(@new_podcast) do %>
            <h4>посмотреть все выпуски</h4>
            <% end %>
        </div>
        <%= render partial: "issuecard_secondary", locals: { issue: @latest_issue_for_new_podcast } %>
    </div>

    <div class="W_CardBlock">
        <div class="W_ListBlock_Title">
            <h2>Тематики</h2>
            <%= link_to recommendation_path do %>
            <h4>посмотреть все</h4>
            <% end %>
        </div>
        <div class="C_ThemeCards">
            <% if @themes.any? %>
            <% @themes.each do |theme| %>
            <%= render partial: "themecard", locals: { theme: theme } %>
            <% end %>
            <% else %>
            <p>Темы пока не созданы.</p>
            <% end %>
        </div>
    </div>
</div>