<% set_meta_tags(
  title: "Главная",
  keywords: "Подкасты, Рецензии, Информация"
) %>

<div class="O_BodyMainPage">
    <div class="W_AccentCover" style="margin-top:80px">
        <div class="Q_Logo long"> </div>
        <h1 class="double">Лучшие подкасты только у нас!</h1>
        <h3> У нас собрана лучшая коллекция подкастов на любой вкус, собранная исходя из отзывов и мнений реальных слушателей </h3>
        <%= link_to recommendation_path do %>
        <div class="A_Button Primary">
            <h3>К поиску</h3>
        </div>
        <% end %>
    </div>
    <div class="W_TitleWith">
        <h4> Что конкретно вы ищите?</h4>
        <div class="C_TagsLine">
            <div class="A_Tag search-tag active" data-type="all" style="display:none">
                <h5>Все</h5>
            </div>
            <div class="A_Tag search-tag" data-type="posts">
                <h5>Пост</h5>
            </div>
            <div class="A_Tag search-tag" data-type="podcasts">
                <h5>Подкаст</h5>
            </div>
            <div class="A_Tag search-tag" data-type="issues">
                <h5>Выпуск</h5>
            </div>
            <div class="A_Tag search-tag" data-type="authors">
                <h5>Автор</h5>
            </div>
        </div>

        <div class="SearchContainer">
            <%= form_with url: search_path, method: :get, local: true, id: "search-form" do %>
            <input type="text" name="query" placeholder="Напиши название или вставь ссылку" class="SearchInput">
            <input type="hidden" name="type" id="search-type" value="all">
            <button type="submit" class="SearchButton">
                <div class="Q_Icon search"> </div>
            </button>
            <% end %>
        </div>
    </div>
    <div class="W_ToggleList">
        <h3 class="toggle-button active" data-id="all">ВСЕ</h3>
        <h3 class="toggle-button" data-id="new">НОВОЕ</h3>
        <h3 class="toggle-button" data-id="chart">ЧАРТ</h3>
        <h3 class="toggle-button" data-id="selections">ПОДБОРКИ</h3>
    </div>

    <div class="W_Content">
        <div class="toggle-content" data-id="all">
            <div class="C_PostCardsList">
                <div class="W_ListBlock_Title">
                    <h2> Подборка лучших научных подкастов </h2>
                    <%= link_to recommendation_path do %>
                    <h4>посмотреть все </h4>
                    <%end%>
                </div>
                <div class="C_AuthorsCards">
                    <% @science_podcasts.each do |podcast| %>
                    <%= render partial: "podcastcard", locals: { podcast: podcast } %>
                    <% end %>
                </div>
            </div>
            <div class="C_PostCardsList">
                <div class="W_ListBlock_Title">
                    <h2> Все о реальной любви </h2>
                    <%= link_to recommendation_path do %>
                    <h4>посмотреть все </h4>
                    <%end%>
                </div>
                <div class="C_AuthorsCards">
                    <% @love_podcasts.each do |podcast| %>
                    <%= render partial: "podcastcard", locals: { podcast: podcast } %>
                    <% end %>
                </div>
            </div>
            <div class="W_CardBlock">
                <div class="W_ListBlock_Title">
                    <h2>Свежие выпуск подкаста <%= @new_podcast.name %></h2>
                    <%= link_to podcast_path(@new_podcast) do %>
                    <h4>посмотреть все новые выпуски</h4>
                    <% end %>
                </div>
                <%= render partial: "issuecard_secondary", locals: { issue: @latest_issue_for_new_podcast } %>
            </div>
            <div class="W_ChartBlock">
                <div class="W_ListBlock_Title">
                    <h2>Чарт выпусков</h2>
                    <%= link_to recommendation_path do %>
                    <h4>посмотреть все</h4>
                    <% end %>
                </div>
                <div class="C_ChartList">
                    <% @chart_podcasts.each_with_index do |issue, index| %>
                    <%= render partial: "chartcard", locals: { issue: issue, position: index + 1 } %>
                    <% end %>
                </div>
            </div>
            <div class="W_CardBlock">
                <div class="W_ListBlock_Title">
                    <h2>Тематики</h2>
                    <%= link_to recommendation_path do %>
                    <h4>посмотреть все</h4>
                    <% end %>
                </div>
                <div class="C_ThemeCards">
                    <% if @themes.any? %>
                    <% @themes.each do |theme| %>
                    <%= render partial: "themecard", locals: { theme: theme } %>
                    <% end %>
                    <% else %>
                    <p>Темы пока не созданы.</p>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="toggle-content hidden" data-id="new">
            <div class="W_CardBlock">
                <div class="W_ListBlock_Title">
                    <h2>Свежие выпуск подкаста <%= @new_podcast.name %></h2>
                    <%= link_to podcast_path(@new_podcast) do %>
                    <h4>посмотреть все новые выпуски</h4>
                    <% end %>
                </div>
                <%= render partial: "issuecard_secondary", locals: { issue: @latest_issue_for_new_podcast } %>
            </div>
        </div>
        <div class="toggle-content hidden" data-id="chart">
            <div class="W_ChartBlock">
                <div class="W_ListBlock_Title">
                    <h2>Чарт выпусков</h2>
                    <%= link_to recommendation_path do %>
                    <h4>посмотреть все</h4>
                    <% end %>
                </div>
                <div class="C_ChartList">
                    <% @chart_podcasts.each_with_index do |issue, index| %>
                    <%= render partial: "chartcard", locals: { issue: issue, position: index + 1 } %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="toggle-content hidden" data-id="selections">
            <div class="C_PostCardsList">
                <div class="W_ListBlock_Title">
                    <h2> Подборка лучших научных подкастов </h2>
                    <%= link_to recommendation_path do %>
                    <h4>посмотреть все </h4>
                    <%end%>
                </div>
                <div class="C_AuthorsCards">
                    <% @science_podcasts.each do |podcast| %>
                    <%= render partial: "podcastcard", locals: { podcast: podcast } %>
                    <% end %>
                </div>
            </div>
            <div class="C_PostCardsList">
                <div class="W_ListBlock_Title">
                    <h2> Все о реальной любви </h2>
                    <%= link_to recommendation_path do %>
                    <h4>посмотреть все </h4>
                    <%end%>
                </div>
                <div class="C_AuthorsCards">
                    <% @love_podcasts.each do |podcast| %>
                    <%= render partial: "podcastcard", locals: { podcast: podcast } %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="O_BgMainPage">
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const tags = document.querySelectorAll(".search-tag");
        const searchTypeInput = document.getElementById("search-type");

        tags.forEach(tag => {
            tag.addEventListener("click", function() {
                // Убираем активный класс у всех тегов
                tags.forEach(t => t.classList.remove("active"));

                // Добавляем активный класс к выбранному тегу
                this.classList.add("active");

                // Обновляем скрытое поле
                searchTypeInput.value = this.getAttribute("data-type");
            });
        });
    });
</script>