<li class="M_CommentCard">
    <div class="M_UserCard">
        <% if comment.user.profile.avatar.present? %>
        <%= image_tag comment.user.profile.avatar, alt: comment.user.profile.name, class: "UserAvatar" %>
        <% end %>
        <div class="UserTitle">
            <h5><%= comment.user.profile.name %></h5>
            <div style="display:flex; justify-content:space-between">
                <p class="small"> знаток подкастов <%= comment.user.profile.level %> уровня </p>
                <p class="small"> <%= comment.created_at.strftime("%d.%m.%Y") %> </p>
            </div>
            <p><%= comment.content %></p>
            <div class="CommentFeedback">
                <div>
                    <%= link_to like_comment_path(comment), class: "like-button" do %>
                    <%= image_tag "Q_HandLike.svg", alt: "Like", class: "like-icon" %>
                    <% end %>
                    <span class="like-count"><%= comment.likes.count %></span>
                </div>
                <div>
                    <%= link_to dislike_comment_path(comment), method: :post, class: "dislike-button" do %>
                    <%= image_tag "Q_HandLike.svg", alt: "Dislike", class: "Q_HandLike dislike" %>
                    <% end %>
                    <span class="dislike-count"><%= comment.dislikes.count %></span>
                </div>
            </div>
        </div>
    </div>
    <% if comment.replies.any? %>
    <ul class="replies">
        <%= render partial: "comments/comment", collection: comment.replies, as: :comment, locals: { commentable: commentable } %>
    </ul>
    <% end %>
</li>