<li class="M_CommentCard">
    <div class="M_UserCard">
        <% if comment.user.profile.avatar.present? %>
        <%= image_tag comment.user.profile.avatar, alt: comment.user.profile.name, class: "UserAvatar" %>
        <% end %>
        <div class="UserTitle">
            <h5><%= comment.user.profile.name %></h5>
            <div style="display:flex; justify-content:space-between">
                <p class="small"> знаток подкастов <%= comment.user.profile.level %> уровня </p>
                <p class="small"> <%= comment.created_at.strftime("%d.%m.%Y") %> </p>
            </div>
            <p><%= comment.content %></p>
            <div class="CommentFeedback">
                <div class="Q_HandLike">
                </div>
                <div class="Q_HandLike dislike">
                </div>
            </div>
        </div>

    </div>

    <%= render partial: "comments/replies", collection: comment.replies, as: :reply, locals: { commentable: commentable } %>
</li>