<% if comment.persisted? %>
<%
=begin%>
<%
    likes_count = comment.likes.count
    like_text = "Like (#{likes_count})"

    if current_user && comment.likes.where(user_id: current_user.id).exists?
      like_text = "Unlike (#{likes_count})"
    end
  %>
<%
=end%>

<div class="comment <%= 'reply' if comment.comment_id.present? %>">
    <p><%= comment.user ? comment.user.email : "Unknown User" %></p>
    <p><%= comment.content %></p>
    <p> <%= comment.created_at %></p>

    <%
=begin%>
    <div>
        <%= link_to like_text, like_comment_path(comment), method: :post %>
    </div>
    <%
=end%>

    <%= render comment.replies %>

    <% if can?(:destroy, comment) && (comment.user == current_user) %>
    <p>
        <%= link_to 'Destroy Comment', comment, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </p>
    <% end %>
</div>
<% end %>