<% if reply.replies.any? %>
<ul class="RepliesList">
    <% reply.replies.each do |reply| %>
    <li class="M_CommentCard reply">
        <div class="M_UserCard">
            <% if reply.user.profile.avatar.present? %>
            <%= image_tag reply.user.profile.avatar, alt: reply.user.profile.name, class: "UserAvatar" %>
            <% end %>
            <div>
                <div class="UserTitle">
                    <h5><%= reply.user.profile.name %></h5>
                    <p class="small"> знаток подкастов <%= reply.user.profile.level %> уровня </p>
                </div>
                <p><%= reply.content %></p>
            </div>
        </div>



        <div class="CommentActions">
            <% if can?(:destroy, reply) && (reply.user == current_user) %>
            <%= link_to 'Удалить', reply, method: :delete, data: { turbo_confirm: "Вы уверены?" }, class: "DeleteComment" %>
            <% end %>
        </div>
    </li>
    <% end %>
</ul>
<% end %>