<div class="W_ReplyCards">
    <% comment.replies.each do |reply| %>
    <div class="M_ReplyCard">
        <div class="M_UserCard">
            <%= image_tag reply.user.profile.avatar, alt: reply.user.profile.name, class: "UserAvatar" if reply.user.profile.avatar.present? %>
            <div class="UserTitle">
                <h5><%=  reply.user.profile.name %></h5>
                <p class="small"> знаток подкастов <%=  reply.user.profile.level %> уровня </p>
            </div>
        </div>
        <p><%= reply.content %></p>
        <%= render partial: "comments/replies", locals: { comment: reply } %>
    </div>
    <% end %>