<% set_meta_tags(
  title: "Подкаст #{@issue.podcast.name} | выпуск #{@issue.name} ",
  keywords: "Подкасты, Рецензии, Информация"
) %>
<div class="O_IssuePage">
    <!-- Блок заголовка подкаста -->
    <div class="C_IssueTitle">
        <div class="M_IssueTitle">
            <%= link_to podcast_path(@issue.podcast) do %>
            <%= image_tag @issue.podcast.cover, alt: @issue.podcast.cover, class: "PodcastCover" if @issue.podcast.cover.present? %>

            <div class="PodcastText">
                <h3> Подкаст «<%= @issue.podcast.name%>»</h3>
                <%end%>
                <div class="PodcastAuthors">
                    <% @issue.podcast.authors.each do |author| %>
                    <div class="PodcastAuthorCard">
                        <%= image_tag author.user.profile.avatar, alt: "Avatar Image", class:"PodcastAuthorAvatar" %>
                        <div class="AuthorCard">
                            <h5><%= author.user.profile.name%> </h5>
                            <p class="small"><%= author.exten_bio %> </p>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div>
            <%= link_to toggle_favorite_issue_path(@issue.id, type: "Issue"), method: :get, class: "favorite-button" do %>
            <div class="Q_Like <%= 'accent' if @favorited_issues.include?(@issue.id) %>">
            </div>
            <% end %>
            <div class="Q_Icon more">
            </div>
        </div>
    </div>
    <% if @issue.podcast.is_audio %>
    <div class="M_IssueCard MainAudio">
        <%= image_tag @issue.cover, alt: @issue.name, class: "IssueCoverImage" %>
        <div style="display:flex; flex-direction:column; justify-content: space-between">
            <div>
                <h1> <%= @issue.name %></h1>
                <p> <%= @issue.description %></p>
            </div>
            <div class="W_LinksLine_Title hor">
                <p>Слушать <br> на площадках</p>
                <div class="C_LinksLine">
                    <% if @issue.podcast.external_links.any? %>
                    <% @issue.podcast.external_links.each do |link| %>
                    <div class="A_Link">
                        <a href="<%= link['url'] %>" target="_blank"><%= link['service'] %></a>
                    </div>
                    <% end %>
                    <% else %>
                    <p>Нет внешних ссылок</p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <% else %>
    <div class="M_IssueCard Main">
        <h1> <%= @issue.name %></h1>
        <%= image_tag @issue.cover, alt: @issue.name, class: "IssueCoverImage" %>
        <p><%= @issue.created_at.strftime("%d.%m.%Y") %></p>
    </div>
    <div class="W_LinksLine_Title hor">
        <p>Слушать <br> на площадках</p>
        <div class="C_LinksLine">
            <% if @issue.podcast.external_links.any? %>
            <% @issue.podcast.external_links.each do |link| %>
            <div class="A_Link">
                <a href="<%= link['url'] %>" target="_blank"><%= link['service'] %></a>
            </div>
            <% end %>
            <% else %>
            <p>Нет внешних ссылок</p>
            <% end %>
        </div>
    </div>
    <%end%>
    <!--ВЕРХНЯЯ ЧАСТЬ КОНЕЦ -->
    <div class="W_ToggleList">
        <h3 class="toggle-button active" data-id="all">ВСЕ</h3>
        <h3 class="toggle-button" data-id="new">РЕЙТИНГ</h3>
        <h3 class="toggle-button" data-id="chart">ОТЗЫВЫ</h3>
        <h3 class="toggle-button" data-id="selections">ОБСУЖДЕНИЯ</h3>
    </div>
    <div class="W_Content">
        <div class="toggle-content" data-id="all">
            <div class="Issue">
                <!-- РЕЙТИНГ/ОТЗЫВЫ -->
                <div class="W_ReviewBlock">
                    <h2> Рейтинг подкаста </h2>
                    <div class="C_ReviewStars">
                        <div class="Stars">
                            <div class="Q_Icon star fill">
                            </div>
                            <div class="Q_Icon star fill">
                            </div>
                            <div class="Q_Icon star fill">
                            </div>
                            <div class="Q_Icon star fill">
                            </div>
                            <div class="Q_Icon star ">
                            </div>
                        </div>
                        <h1 style="font-size: 55px; color: var(--accent_green)"> 4.6 </h1>
                        <p class="mini"> Оценили 20459 <br> пользователей </p>
                    </div>
                    <div class="C_ThemeReview">
                        <div class="W_ThemeCountCard">
                            <h1 class="extra"> 76% </h1>
                            <p> Интересная тема обсуждений</p>
                        </div>
                        <div class="W_ThemeCountCard">
                            <h1 class="extra"> 46% </h1>
                            <p> Глубокий анализ материала</p>
                        </div>
                        <div class="W_ThemeCountCard">
                            <h1 class="extra"> 8% </h1>
                            <p> Хорошая динамика беседы</p>
                        </div>
                        <div class="W_ThemeCountCard">
                            <h1 class="extra"> 40% </h1>
                            <p> Доступность <br>
                                и понятность</p>
                        </div>
                        <div class="W_ThemeCountCard">
                            <h1 class="extra"> 79% </h1>
                            <p> Оригинальность <br>
                                и инсайды</p>
                        </div>
                        <div class="W_ThemeCountCard">
                            <h1 class="extra"> 46% </h1>
                            <p> Структура повествования</p>
                        </div>
                    </div>
                    <div class="A_Button Primary" style="width:auto; justify-content:center; margin-top:32px">
                        <h3>Оценить подкаст </h3>
                    </div>

                </div>
                <div class="W_FeedbackBlock">
                    <h2> Отзывы слушателей </h2>
                    <div class="C_Feedbacks">
                        <div class="W_FeedbackCard">
                        </div>
                    </div>
                </div>
                <!--ОБСУЖДЕНИЕ -->
                <div class="W_DiscussBlockPost">
                    <h2>Обсуждение</h2>
                    <div>
                        <div>
                            <div class="M_CommentForm">
                                <%= image_tag @user.profile.avatar, alt: @user.profile.name, class: "ProfileAvatarImage" if @user.profile.avatar.present? %>
                                <%= render 'comments/form', commentable: @issue,  comment: Comment.new  %>
                            </div>
                            <div class="W_CommentsBlock">
                                <ul>
                                    <%= render partial: "comments/comment", collection: @issue.comments.not_replies, as: :comment, locals: { commentable: @issue } %>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-content hidden" data-id="new">
            <p>Контент для "НОВОЕ"</p>
        </div>
        <div class="toggle-content hidden" data-id="chart">
            <p>Контент для "ЧАРТ"</p>
        </div>
        <div class="toggle-content hidden" data-id="selections">
            <p>Контент для "ПОДБОРКИ"</p>
        </div>
    </div>
</div>