<% set_meta_tags(
  title: "Всякое на тему – #{@theme.name}",
  keywords: "Подкасты, Рецензии, Информация"
) %>
<div class="O_ThemePage">
    <%= link_to :back do %>
    <div class="W_BackLink">
        <div class="Q_Arrow backWhite">
        </div>

    </div>
    <%end%>
    <div class="W_ThemePageCover">
        <div class="W_ThemeCover">
            <%= image_tag @theme.cover %>
            <h1> <%= @theme.name %></h1>
        </div>
        <p> <%= @theme.description %> </p>
    </div>

    <% if @podcasts.any? %>
    <div class="C_ThemePodcastCards">
        <% @podcasts.each do |podcast| %>
        <%= render partial: "podcastcard", locals: { podcast: podcast } %>
        <% end %>
    </div>
    <% else %>
    <p>Пока нет подкастов с этой темой.</p>
    <% end %>
</div>