<% set_meta_tags(
  title: "Профиль #{@author.user.profile.name}",
  keywords: "Подкасты, Рецензии, Информация"
) %>

<h1> <%= @author.user.profile.name %>
</h1>


<p>
    <strong>Description:</strong>
    <%= @author.exten_bio %>
</p>


<div>
    <%= link_to "Edit this author", edit_author_path(@author) %> |
    <%= link_to "Back to authors", authors_path %>

    <%= button_to "Destroy this author", @author, method: :delete %>
</div>

<h2>Подкасты автора:</h2>
<ul>
    <div class="podcasts-list">
        <%= render partial: "podcastcard", collection: @podcasts, as: :podcast %>
    </div>
</ul>