<p>
    <strong>User:</strong>
    <%=  post.user.email %>
</p>
<p>
    <strong>Title:</strong>
    <%= post.title %>
</p>
<p>

<p>
    <strong>Content:</strong>
    <%= post.content %>
</p>

<p>
    <strong>Date:</strong>
    <%= post.created_at %>
</p>



<p>
    <strong>Hashtag:</strong>
    <%= post.hashtag %>
</p>

</div>