<div style="display: flex; gap:10vh; flex-direction:column">
    <div class="W_TitleWith">
        <h1>С возвращением!</h1>
        <p> Чтобы учавствовать в обсуждениях, оставлять отзывы, тебе нужно войти в аккаунт! </p>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="W_Form">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"A_Input", placeholder: "Логин" %>
        <%= f.password_field :password, autocomplete: "current-password" , class:"A_Input", placeholder: "Пароль"%>


        <div class="actions">
            <%= f.submit "Войти", class:"A_Button Primary"%>
        </div>
    </div>
    <% end %>
    <div class="W_TitleWith small">
        <h4> Упс! А у вас нет аккаунта, срочно <%= link_to new_user_registration_path do %>
            <h4 style="text-decoration:underline">зарегистрируйтесь! </h4>
            <% end %>
        </h4>
    </div>
</div>