<%= render @post %>
<% set_meta_tags(
  title: "Пост – #{@post.title}",
  description: "Посты для проекта Tolki",
  keywords: "Подкасты, Рецензии, Информация"
) %>
<%
likes_count = @post.likes.count
like_text = "Like (#{likes_count})"

if current_user && @post.likes.where(user_id: current_user.id).count > 0
  like_text = "Unlike (#{likes_count})"
end
%>

<% if can? :create, Post %>
<div>
    <%= link_to like_text, like_admin_post_path(@post) %> |
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>

    <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<%end%>
<div>
    <div>
        <div class="W_CommentsBlock">
            <ul>
                <%= render partial: "comments/comment", collection: @post.comments.not_replies, as: :comment, locals: { commentable: @post } %>
            </ul>
        </div>
    </div>
</div>