<% set_meta_tags(
  title: "Пост – #{@post.title}",
  description: "Посты для проекта Tolki",
  keywords: "Подкасты, Рецензии, Информация"
) %>
<%
likes_count = @post.likes.count
like_text = "Like (#{likes_count})"

if current_user && @post.likes.where(user_id: current_user.id).count > 0
  like_text = "Unlike (#{likes_count})"
end
%>

<div class="O_IssuePage">
    <!-- Блок заголовка подкаста -->
    <div class="M_IssueTitle">
        <%= link_to podcast_path(@post.podcast) do %>
        <%= image_tag @post.podcast.cover, alt: @post.podcast.cover, class: "PodcastCover" if @post.podcast.cover.present? %>

        <div class="PodcastText">
            <h3> Подкаст «<%= @post.podcast.name%>»</h3>
            <%end%>
            <div class="PodcastAuthors">
                <% @post.podcast.authors.each do |author| %>
                <div class="PodcastAuthorCard">
                    <%= image_tag author.user.profile.avatar, alt: "Avatar Image", class:"PodcastAuthorAvatar" %>
                    <div class="AuthorCard">
                        <h5><%= author.user.profile.name%> </h5>
                        <p class="small"><%= author.exten_bio %> </p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="M_IssueCard Main">
        <h1> <%= @post.title %></h1>

        <p><%= @post.created_at.strftime("%d.%m.%Y") %></p>
    </div>

    <!-- Секция рецензий -->
    <div class="PodcastPagePosts">
        <h2>Рецензии</h2>
        <div class="A_Button Primary">
            <h2> написать рецензию </h2>
        </div>
        <div>
            <div>
                <div class="CommentFeedback">
                    <div>
                        <%= link_to like_post_path(@post), class: "like-button" do %>
                        <%= image_tag "Q_HandLike.svg", alt: "Like", class: "like-icon" %>
                        <% end %>
                        <span class="like-count"><%= @post.likes.count %></span>
                    </div>
                    <div>
                        <%= link_to dislike_post_path(@post), class: "dislike-button" do %>
                        <%= image_tag "Q_HandLike.svg", alt: "Dislike", class: "Q_HandLike dislike" %>
                        <% end %>
                        <span class="dislike-count"><%= @post.dislikes.count %></span>
                    </div>
                </div>
                <div class="W_CommentsBlock">
                    <ul>
                        <%= render partial: "comments/comment", collection: @post.comments.not_replies, as: :comment, locals: { commentable: @post } %>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>