<div class="O_Menu">

    <% if user_signed_in? && !current_user.admin %>
    <div class="LinksList">
        <%= link_to root_url do %>
        <h5>Главная </h5>
        <% end %>
        <%= link_to recommendation_path do %>
        <h5>Рекомендации </h5>
        <% end %>
        <%= link_to about_us_index_url do %>
        <h5>О проекте </h5>
        <% end %>
    </div>
    <div class="ButtonList">
        <%= link_to new_post_path do %>
        <div class="A_Button PrimaryMedium">
            <h5> Написать рецензии</h5>
        </div>
        <% end %>
        <%= link_to my_profile_path do %>
        <div class="A_Button SecondaryMedium white">
            <h5> Профиль</h5>
        </div>
        <% end %>
    </div>

    <%elsif user_signed_in? && current_user.admin? %>
    <div class="LinksList">
        <%= link_to root_url do %>
        <h5>Главная </h5>
        <% end %>
        <%= link_to recommendation_path do %>
        <h5>Рекомендации </h5>
        <% end %>
        <%= link_to about_us_index_url do %>
        <h5>О проекте </h5>
        <% end %>
    </div>
    <div class="ButtonList">
        <%= link_to new_post_path do %>
        <div class="A_Button PrimaryMedium">
            <h5> Написать рецензии</h5>
        </div>
        <% end %>
        <%= link_to my_profile_path do %>
        <div class="A_Button SecondaryMedium white">
            <h5> Профиль</h5>
        </div>
        <% end %>
    </div>

    <%else%>
    <div class="LinksList">
        <%= link_to root_url do %>
        <h5>Главная </h5>
        <% end %>
        <%= link_to about_us_index_url do %>
        <h5>О проекте </h5>
        <% end %>
    </div>
    <div class="ButtonList">
        <%= link_to new_user_registration_path do %>
        <div class="A_Button SecondaryMedium white">
            <h5> Регистрация</h5>
        </div>
        <% end %>
        <%= link_to new_user_session_path do %>
        <div class="A_Button SecondaryMedium ">
            <h5> Вход</h5>
        </div>
        <% end %>
    </div>
    <%end%>
</div>


<p style="color: red"> <%= alert %> </p>