<div class="O_Menu">
    <div class="LinksList">
        <%= link_to root_url do %>
        <div class="Q_Logo long"> </div>
        <% end %>
        <%= link_to recommendation_path do %>
        <h5>Обсуждения </h5>
        <% end %>
    </div>

    <div class="ButtonList">
        <div class="SearchContainer mini">
            <%= form_with url: search_path, method: :get, local: true do %>
            <input type="text" name="query" placeholder="Название подкаста" class="SearchInput">
            <button type="submit" class="SearchButton">
                <div class="Q_Icon search"> </div>
            </button>
            <% end %>
        </div>

        <% if user_signed_in? %>
        <%= link_to main_favorite_path do %>
        <div class="Q_Like">
        </div>
        <% end %>
        <%= link_to my_profile_path do %>
        <div class="Q_Profile">
        </div>
        <% end %>

        <% else%>
        <%= link_to new_user_session_path do %>
        <div class="Q_Like">
        </div>
        <% end %>
        <%= link_to new_user_session_path do %>
        <div class="Q_Profile">
        </div>
        <% end %>
        <%end%>
    </div>


</div>

<p style="color: red"> <%= alert %> </p>