<%
likes_count = post.likes.count
dislikes_count = post.dislikes.count
%>

<div class="O_PostFullCard_WithComments">
    <div class="M_PostFullCard">
        <div class="M_UserCard">
            <div class="UserInfo">
                <%= image_tag post.podcast.cover, alt: post.podcast.name, class: "UserAvatar" if post.podcast.cover.present? %>
                <h3>Подкаст «<%= post.podcast.name %>»</h3>
            </div>
            <div class="W_IssueInfo_Podcast">
                <% if post.created_at %>
                <p><%= post.created_at.strftime('%d.%m.%Y') %></p>
                <% else %>
                <p>Дата не указана</p>
                <% end %>
                <div class="A_Tag">
                    <p> Обсуждение </p>
                </div>
            </div>
        </div>


        <div class="A_Content">
            <h1> <%= post.title %> </h1>
            <p> <%= post.content %> </p>
        </div>
        <div class="W_IssueFullCard_Footer">
            <div class="Footer">
                <div class="CommentFeedback">
                    <div>
                        <%= link_to like_post_path(post), class: "like-button" do %>
                        <%= image_tag "Q_HandLike.svg", alt: "Like", class: "like-icon" %>
                        <% end %>
                        <span class="like-count"><%= post.likes.count %></span>
                    </div>
                    <div>
                        <%= link_to dislike_post_path(post), class: "dislike-button" do %>
                        <%= image_tag "Q_HandLike.svg", alt: "Dislike", class: "Q_HandLike dislike" %>
                        <% end %>
                        <span class="dislike-count"><%= post.dislikes.count %></span>
                    </div>
                </div>
                <%= link_to post_path(post) do %>
                <div class="A_Button PrimaryMedium">
                    <h5>Перейти в обсуждение</h5>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="W_CommentsBlock">
        <ul>
            <%= render partial: "comments/comment", collection: post.comments.not_replies.last(1), as: :comment, locals: { commentable: post } %>
        </ul>
    </div>
</div>