<div class="O_PostFullCard_WithComments">
    <div class="M_PostFullCard">
        <div class="M_UserCard">
            <div class="UserInfo">
                <%= image_tag post.podcast.cover, alt: post.podcast.name, class: "UserAvatar" if post.podcast.cover.present? %>
                <h3>Подкаст «<%= post.podcast.name %>»</h3>
            </div>
            <div class="W_IssueInfo_Podcast">
                <% if post.created_at %>
                <p><%= post.created_at.strftime('%d.%m.%Y') %></p>
                <% else %>
                <p>Дата не указана</p>
                <% end %>
                <div class="A_Tag">
                    <p> Обсуждение </p>
                </div>
            </div>
        </div>


        <div class="A_Content">
            <h1> <%= post.title %> </h1>
            <p> <%= post.content %> </p>
        </div>
        <div class="W_IssueFullCard_Footer">
            <div class="Footer">
                <div class="Likes">
                    <div class="Q_FooterIcons like"></div>
                    <div class="Q_FooterIcons dislike"></div>
                    <div class="Q_FooterIcons share"></div>
                </div>
                <%= link_to post_path(post) do %>
                <div class="A_Button PrimaryMedium">
                    <h5>Перейти в обсуждение</h5>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="W_CommentsBlock">
        <ul>
            <%= render partial: "comments/comment", collection: post.comments.not_replies, as: :comment, locals: { commentable: post } %>
        </ul>
    </div>
</div>