<div class="O_PostFullCard_WithComments">
    <div class="M_PostFullCard">
        <div class="M_UserCard">
            <div class="UserInfo">
                <%= image_tag post.user.profile.avatar, alt: post.user.profile.name, class: "UserAvatar" if post.user.profile.avatar.present? %>
                <div class="UserTitle">
                    <h3><%=  post.user.profile.name %></h3>
                    <p> знаток подкастов <%=  post.user.profile.level %> уровня </p>
                </div>

            </div>
            <div class="W_IssueInfo_Podcast">
                <p> подкаст </p>
                <div class="A_Tag">
                    <p> <%=  post.issue.podcast.name %> </p>
                </div>
                <p> выпуск </p>
                <div class="A_Tag">
                    <p><%= truncate(post.issue.name, length: 30, omission: '...') %></p>
                </div>
            </div>
        </div>
        <%= image_tag post.issue.cover, alt: post.issue.name, class: "PostCover" if post.issue.cover? %>
        <h1> <%= post.title %> </h1>

        <div class="A_Content">
            <p> <%=  post.content %> </p>

        </div>
        <div class="W_IssueFullCard_Footer">
            <p><%= post.created_at.strftime('%d.%m.%Y в %H:%M') %></p>
            <div class="Footer">
                <div class="Likes">
                    <div class="Q_FooterIcons like"> </div>
                    <div class="Q_FooterIcons dislike"> </div>
                    <div class="Q_FooterIcons share"> </div>
                </div>
                <% if post.is_comments_open %>
                <div class="A_Button PrimaryMedium">
                    <h5>Прокомментировать</h5>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="W_CommentsBlock">
        <ul>
            <% post.comments.not_replies.each do |comment| %>
            <div class="M_CommentCard">
                <div class="M_UserCard">
                    <%= image_tag comment.user.profile.avatar, alt: comment.user.profile.name, class: "UserAvatar" if comment.user.profile.avatar.present? %>
                    <div class="UserTitle">
                        <h5><%=  comment.user.profile.name %></h5>
                        <p class="small"> знаток подкастов <%=  comment.user.profile.level %> уровня </p>
                    </div>
                </div>
                <p><%= comment.content %></p>
                <%= render partial: "comments/replies", locals: { comment: comment } %>
            </div>
            <% end %>
        </ul>
    </div>
</div>