<%
likes_count = issue.likes.count
dislikes_count = issue.dislikes.count
user_liked = issue.likes.exists?(user_id: current_user.id)
user_disliked = issue.dislikes.exists?(user_id: current_user.id)
%>


<div class="O_PostFullCard_WithComments">
    <div class="M_PostFullCard">
        <div class="M_UserCard">
            <div class="UserInfo">
                <%= image_tag issue.podcast.cover, alt: issue.podcast.name, class: "UserAvatar" if issue.podcast.cover.present? %>
                <h3>Подкаст «<%= issue.podcast.name %>»</h3>
            </div>
            <div class="W_IssueInfo_Podcast">
                <% if issue.created_at %>
                <p><%= issue.created_at.strftime('%d.%m.%Y') %></p>
                <% else %>
                <p>Дата не указана</p>
                <% end %>
                <div class="A_Tag">
                    <p>Выпуск подкаста</p>
                </div>
            </div>
        </div>
        <%= image_tag issue.cover, alt: issue.name, class: "IssueCover" if issue.cover.present? %>

        <div class="A_Content">
            <h1><%= issue.name %></h1>
            <p> <%= issue.description %> </p>
        </div>

        <div class="W_IssueFullCard_Footer">
            <div class="Footer">
                <div class="CommentFeedback">
                    <div>
                        <%= link_to like_issue_path(issue), class: "Q_HandLike #{'active' if user_liked}" do %>
                        <% end %>
                        <span class="like-count"><%= issue.likes.count %></span>
                    </div>
                    <div>
                        <%= link_to dislike_issue_path(issue), class: "Q_HandLike dislike #{'active' if user_disliked}" do %>
                        <% end %>
                        <span class="dislike-count"><%= issue.dislikes.count %></span>
                    </div>
                </div>
                <%= link_to podcast_issue_path(issue.podcast, issue) do %>
                <div class="A_Button PrimaryMedium">
                    <h5>Перейти к выпуску</h5>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <!-- Блок комментариев можно убрать, если у выпусков нет обсуждений -->
    <div class="W_CommentsBlock">
        <ul>
            <%= render partial: "comments/comment", collection: issue.comments.not_replies.last(1), as: :comment, locals: { commentable: issue } %>
        </ul>
    </div>
</div>