<%
likes_count = issue.likes.count
dislikes_count = issue.dislikes.count

if current_user.present?
  user_liked = issue.likes.exists?(user_id: current_user.id)
  user_disliked = issue.dislikes.exists?(user_id: current_user.id)
else
  user_liked = false
  user_disliked = false
end
%>
<div class="O_PostFullCard_WithComments">
    <div class="M_PostFullCard">
        <div class="M_UserCard">
            <div class="UserInfo">
                <%= image_tag issue.podcast.cover, alt: issue.podcast.name, class: "UserAvatar" if issue.podcast.cover.present? %>
                <h3>Подкаст «<%= issue.podcast.name %>»</h3>
            </div>
            <div class="W_IssueInfo_Podcast">
                <% if issue.created_at %>
                <p class="gray"><%= I18n.l(issue.created_at, format: "%d %B") %></p>
                <% else %>
                <p>Дата не указана</p>
                <% end %>
                <div class="A_Tag">
                    <p>Выпуск подкаста</p>
                </div>
            </div>
        </div>
        <div class=" <%= 'audio' if issue.podcast.is_audio %>">
            <%= image_tag issue.cover, alt: issue.name, class: "IssueCover #{'audio' if issue.podcast.is_audio}" if issue.cover.present? %>

            <div class="A_Content">
                <h1><%= issue.name %></h1>
                <p> <%= issue.description %> </p>
            </div>
        </div>
        <div class="W_IssueFullCard_Footer">
            <div class="Footer">
                <div class="CommentFeedback">
                    <div>
                        <%= link_to user_signed_in? ? like_issue_path(issue) : new_user_registration_path, 
                        method: (user_signed_in? ? :post : :get), 
                        class: "Q_HandLike #{'active' if user_liked}" do %>
                        <% end %>
                        <span class="like-count"><%= issue.likes.count %></span>
                    </div>
                    <div>
                        <%= link_to user_signed_in? ? dislike_issue_path(issue) : new_user_registration_path, 
                        method: (user_signed_in? ? :post : :get), 
                        class: "Q_HandLike dislike #{'active' if user_disliked}" do %>
                        <% end %>
                        <span class="dislike-count"><%= issue.dislikes.count %></span>
                    </div>
                </div>
                <%= link_to podcast_issue_path(issue.podcast, issue) do %>
                <div class="A_Button PrimaryMedium">
                    <h5>Перейти к выпуску</h5>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <!-- Блок комментариев можно убрать, если у выпусков нет обсуждений -->
    <div class="W_CommentsBlock">
        <ul>
            <% if issue.comments.any? %>
            <% comment = issue.comments.last %>
            <!-- Получаем последний комментарий -->
            <div class="M_UserCommentCard">
                <% if comment.user.profile.avatar.present? %>
                <%= image_tag comment.user.profile.avatar, alt: comment.user.profile.name, class: "UserAvatar" %>
                <% end %>
                <div class="UserTitle">
                    <div style="display:flex; justify-content:space-between; align-items: center">
                        <div>
                            <h5><%= comment.user.profile.name %></h5>
                            <p class="small"> знаток подкастов <%= comment.user.profile.level %> уровня </p>
                        </div>
                        <div style="display:flex; justify-content:space-between">
                            <p class="gray"><%= I18n.l(comment.created_at, format: "%d %B") %></p>
                        </div>
                    </div>
                    <p><%= comment.content %></p>
                </div>
            </div>
            <% else %>
            <p>Нет комментариев</p>
            <% end %>
        </ul>
    </div>
</div>