<div id="<%= dom_id podcast %>" class="cardPodcast">
    <div class="podcastCover">
        <% if @podcast.cover.attached? %>
        <div>
            <%= image_tag @podcast.cover, class: "podcastCoverImage" %>
        </div>
        <% end %>
    </div>
    <%= link_to podcast.name, admin_podcast_path(podcast) %>
    <p>
        <%= podcast.description %>
    </p>
    <p>
        <%= podcast.average_rating %>
    </p>

</div>