<% set_meta_tags(
  title: "Подкаст #{@podcast.name}",
  keywords: "Подкасты, Рецензии, Информация"
) %>
<!-- Slick Slider CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

<!-- Slick Slider JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<div class="O_PodcastPage">
    <!-- Блок заголовка подкаста -->
    <div>
        <div class="M_PodcastTitle">
            <%= image_tag @podcast.cover, alt: @podcast.cover, class: "PodcastCover" if @podcast.cover.present? %>
            <div class="PodcastText">
                <div class="Title">
                    <h1> Подкаст «<%= @podcast.name %>»</h1>
                    <div>
                        <div id="extra-button-wrapper" style="display: none;">
                            <div class="A_Button SecondaryMedium">
                                <h5> Это ваш подкаст?</h5>
                            </div>
                        </div>

                        <%= link_to toggle_favorite_podcast_path(@podcast.id, type: "Podcast"), method: :get, class: "favorite-button" do %>
                        <div class="Q_Like <%= 'accent' if @favorited_podcasts&.include?(@podcast.id) %>">
                        </div>
                        <% end %>

                        <div class="Q_Icon more" id="toggle-button"></div>
                    </div>
                </div>
                <p><%= @podcast.description%> </p>
                <div>
                    <div class="PodcastAuthors">
                        <% @podcast.authors.each do |author| %>
                        <%= link_to author_path(author) do %>
                        <div class="PodcastAuthorCard">

                            <%= image_tag author.user.profile.avatar, alt: "Avatar Image", class:"PodcastAuthorAvatar" %>
                            <div class="AuthorCard">
                                <h5><%= author.user.profile.name%> </h5>
                                <p class="small"><%= author.exten_bio %> </p>
                            </div>

                        </div>
                        <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="PodcastThemes">
                    <% if @podcast.themes.any? %>
                    <% @podcast.themes.each do |theme| %>
                    <%= link_to theme_path(theme) do %>
                    <div class="A_Tag">
                        <h5><%= theme.name %></h5>
                    </div>
                    <%end%>
                    <% end %>
                    <% else %>
                    <p>Этот подкаст пока не имеет тегов.</p>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- Темы подкаста -->
        <div class="W_LinksLine_Title">
            <p>Слушать на</p>
            <div class="C_LinksLine">
                <% if @podcast.external_links.any? %>
                <% @podcast.external_links.each do |link| %>
                <div class="A_Link">
                    <a href="<%= link['url'] %>" target="_blank"><%= link['service'] %></a>
                </div>
                <% end %>
                <% else %>
                <p>Нет внешних ссылок</p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="W_ToggleList">
        <h3 class="toggle-button active" data-id="all">ВСЕ</h3>
        <h3 class="toggle-button" data-id="new">ВЫПУСКИ</h3>
        <h3 class="toggle-button" data-id="chart">РЕЙТИНГ</h3>
        <h3 class="toggle-button" data-id="selections">ОБСУЖДЕНИЯ</h3>
    </div>
    <div class="W_Content">
        <div class="toggle-content C_PodcastAll" data-id="all">
            <% if @podcast.is_audio %>
            <!-- Галерея аудиовыпусков -->
            <div class="podcastsIssues">
                <div class="W_ListBlock_Title">
                    <h2>Лучшие аудиовыпуски</h2>
                    <%= link_to podcast_issues_path(@podcast) do %>
                    <h4>посмотреть все</h4>
                    <% end %>
                </div>
                <div class="slider">
                    <% @issues.each do |issue| %>
                    <div class="slider__item">
                        <%= render partial: "issueaudiocard_secondary", locals: { issue: issue } %>
                    </div>
                    <% end %>
                </div>
            </div>
            <% else %>
            <!-- Галерея выпусков -->
            <div class="podcastsIssues">
                <div class="W_ListBlock_Title">
                    <h2>Лучшие выпуски</h2>
                    <%= link_to podcast_issues_path(@podcast) do %>
                    <h4>посмотреть все</h4>
                    <% end %>
                </div>

                <div class="slider audio">
                    <% @issues.each do |issue| %>
                    <div class="slider__item video">
                        <%= render partial: "issuecard_secondary", locals: { issue: issue } %>
                    </div>
                    <% end %>
                </div>


            </div>
            <% end %>
            <!-- Секция отзывов -->
            <div class="W_ReviewBlock">
                <h2> Рейтинг подкаста </h2>
                <div class="C_ReviewStars">
                    <div class="Stars">
                        <div class="Q_Icon star fill">
                        </div>
                        <div class="Q_Icon star fill">
                        </div>
                        <div class="Q_Icon star fill">
                        </div>
                        <div class="Q_Icon star fill">
                        </div>
                        <div class="Q_Icon star ">
                        </div>
                    </div>
                    <h1 style="font-size: 55px; color: var(--accent_green)"> 4.6 </h1>
                    <p class="mini"> Оценили 20459 <br> пользователей </p>
                </div>
                <div class="C_ThemeReview">
                    <div class="W_ThemeCountCard">
                        <h1 class="extra"> 76% </h1>
                        <p> Интересная тема обсуждений</p>
                    </div>
                    <div class="W_ThemeCountCard">
                        <h1 class="extra"> 46% </h1>
                        <p> Глубокий анализ материала</p>
                    </div>
                    <div class="W_ThemeCountCard">
                        <h1 class="extra"> 8% </h1>
                        <p> Хорошая динамика беседы</p>
                    </div>
                    <div class="W_ThemeCountCard">
                        <h1 class="extra"> 40% </h1>
                        <p> Доступность <br>
                            и понятность</p>
                    </div>
                    <div class="W_ThemeCountCard">
                        <h1 class="extra"> 79% </h1>
                        <p> Оригинальность <br>
                            и инсайды</p>
                    </div>
                    <div class="W_ThemeCountCard">
                        <h1 class="extra"> 46% </h1>
                        <p> Структура повествования</p>
                    </div>
                </div>


            </div>
            <div class="W_FeedbackBlock">
                <h2> Отзывы слушателей </h2>
                <div class="C_Feedbacks">
                    <% if current_user.present? %>
                    <div class="W_FeedbackCard">
                        <%= render "reviews/form" %>
                    </div>
                    <% end %>
                </div>
                <div class="W_ReviewCards">
                    <% @reviews.each do |review| %>
                    <% if review.content.present? %>
                    <%= render partial: "reviewcard", locals: { review: review } %>
                    <% end %> <% end %>
                </div>
            </div>
            <div class="W_SamePodcasts">
                <h2> Похожее </h2>
                <div class="C_PodcastsSame">
                    <% @same_podcasts.each do |podcast| %>
                    <%= render partial: "podcastcard", locals: { podcast: podcast } %>
                    <% end%>
                </div>
            </div>
            <!-- Секция постов -->
            <div class="O_LentaPosts">
                <div class="W_DiscussFeed">
                    <h2>Лента авторов</h2>
                    <div class="C_Discuss">
                        <% @content_items.each do |item| %>
                        <% if item.is_a?(Issue) %>
                        <%= render partial: "showissuecard", locals: { issue: item } %>
                        <% elsif item.is_a?(Post) %>
                        <%= render partial: "postcard", locals: { post: item } %>
                        <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <p>Контент для "ВСЕ"</p>
        </div>
        <div class="toggle-content hidden" data-id="new">
            <div class="C_AllIssues">
                <% @issues.each do |issue| %>

                <%= render partial: "issuecard_secondary", locals: { issue: issue } %>

                <% end %>

            </div>
        </div>
        <div class="toggle-content hidden" data-id="chart">
            <p>Контент для "ЧАРТ"</p>
        </div>
        <div class="toggle-content hidden" data-id="selections">
            <p>Контент для "ПОДБОРКИ"</p>
        </div>
    </div>
</div>
<%= javascript_tag do %>
$(document).ready(function() {
/* Small card slider */
$('.slider').slick({
arrows: false,
dots: false,
infinite: true,
initialSlide: 0,
slidesToScroll: 1,
slidesToShow: 3
});

const slider = $(".slider");
var scrollCount = null;
var scroll= null;

slider.on('wheel', function(e) {
e.preventDefault();

clearTimeout(scroll);
scroll = setTimeout(function(){scrollCount=0;}, 200);
if(scrollCount) return 0;
scrollCount=1;

if (e.originalEvent.deltaY < 0) { $(this).slick('slickNext'); } else { $(this).slick('slickPrev'); } }); }); $(document).ready(function() { $('.slider').slick({ slidesToShow: 4, slidesToScroll: 1, infinite: true }); }); document.addEventListener('DOMContentLoaded', function () { const toggleButton=document.getElementById('toggle-button'); const extraWrapper=document.getElementById('extra-button-wrapper'); toggleButton.addEventListener('click', function () { if (extraWrapper.style.display==='none' ) { extraWrapper.style.display='inline-block' ; } else { extraWrapper.style.display='none' ; } }); }); <% end %>